form {
    width: 550px;
    display: flex;
    justify-content: space-between;
}

.chats {
    width: 300px;
}

.wrapper {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

a.active {
    font-weight: bold;
    color: red;
}